.conteiner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: $widthMobile;
    @media  screen and (min-width:$widthTablet) {
        width: $widthTablet;
        max-width: none;
    }
    @media  screen and (min-width:$widthDesktop) {
        width: $widthDesktop;
    }

}