.mobile-menu {
    position: fixed;
    
    z-index: 10;
    top:0;
    width: 100vw;
    height: 100%;
    padding: 48px 40px;

    background-color:#ffffff;

    transition: opacity 250ms $basicCubic, visibility 250ms $basicCubic;

    @media screen and (orientation:landscape) {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
        
    }
}
.mobile-btn {
    margin-left: auto;
    width: 40px;
    height: 40px;
    @include hover-accent();
    &__icons {
        fill:currentColor;
        background:transparent;
        
    }
    &--close {
        position: absolute;
        top:10px;
        right: 15px;
        z-index: 15;
    }
}


