.mobile-social {
    display: flex;
    @media screen and (max-width:400px) {
        justify-content: center;
        
    }
    
    
    
    
    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        color: $textColorAccent;
        @media screen and (max-width:374px) {
            font-size: 16px;
        }
    }
}

.mobile-social__item {
    @include respSize(padding-left,10,480,100vw);
    @include respSize(padding-right,10,480,100vw);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
        border-right:none;
    }
    @media screen and (max-width:400px) {
        @include respSize(padding-left,7,480,100vw);
        @include respSize(padding-right,7,480,100vw);
        
    }
    @media screen and (max-width:374px) {
        @include respSize(padding-left,4,480,100vw);
        @include respSize(padding-right,4,480,100vw);
        
    }
    
}