@mixin hover-accent ($color:$textColorAccent) {
    transition: color 250ms $basicCubic;
    &:hover,
    &:focus {
    color: $color;
    }
}
@mixin hover-icon ($color:#ffffff,$background:$bgColorAccent) {
    transition: color 250ms $basicCubic, background-color 250ms $basicCubic;
    &:hover,
    &:focus {
        color: $color;
        background-color: $background;
    }
}
@mixin hover-cards ($color:$textColorAccent,$border:$bgColorAccent) {
    transition: color 250ms $basicCubic;
    transition: background-color 250ms $basicCubic;
&:hover,
&:focus {
    color: $color;
    border-color: $border;
}
}
    


@mixin flex-center ($display:flex) {
    display: $display;
    align-items: center;
    justify-content: center;
    
}

@mixin respSize ($element,$currentValue,$maketValue:796,$axics:100vh) {
    #{$element}:($currentValue*$axics/$maketValue);
    
}

@mixin pixelRatio {
    @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                @content;
            }
}

