$textColorAccent:#2196f3;
$textColorBold: #212121;
$textColorMain: #757575;

$colorIcon: #afb1b8;

$bgColorAccent:#2196f3;
$bgColorGrey: #f5f4fa;
$bgColorDarkGrey: #2f303a;

$basicCubic: cubic-bezier(0.4, 0, 0.2, 1);
