.footer-links {

    &__appeal {
        display: inline-block;
        margin-bottom: 20px;
        line-height: calc(24 / 14);
        text-transform: uppercase;
        color: #ffffff;
    }
    &__list {
        @include flex-center();
    }
    &__link {
        @include flex-center();
        width: 100%;
        height: 100%;

        background-color: rgba(255, 255, 255, 0.1);
        color: #ffffff;
        border-radius: 50%;
        @include hover-icon();
    }
    &__vector {
        fill: currentColor;
    }
}
.footer-links__item {
    width: 44px;
    height: 44px;
    &:not(:last-child) {
        margin-right: 10px;
    }
}