.footer-form {
    margin-left: auto;
    &__label {
        display: block;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: #ffffff;
    }
    &__content {
        display: flex;
        gap: 12px;
    }
    &__input {
        min-width: 358px;
        padding: 15px 16px;
        font-size: 16px;
        line-height: calc(20 / 16);

        color: #ffffff;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
    }
    &__btn {
        @include flex-center();
        @extend %btn;
        gap: 10px;

        align-self: flex-end;
        padding: 10px 28px;
        border: 1px solid $bgColorAccent;
    }
}
