.footer {
    background-color: $bgColorDarkGrey;
    padding: 60px 0;
    &__wrap {
        text-align: center;
    // display: flex;
    // align-items: baseline;
    }
    &__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: #ffffff;
    }
    &__text--accent {
        color:$textColorAccent
    }
}
.address {
    // margin-right: 70px;
    margin-bottom: 60px;
    &__list {
        color: #ffffff;
    }
}
.address__link {
    color:inherit;
    .address__item:nth-child(n + 2) & {
        @include hover-accent();
    }
}

.address__item {
    // &:not(:last-child) {
    //     margin-bottom: 9px;
    // }

    &:first-child {
        margin-bottom: 5px;
    }
    &:nth-child(2) {
        margin-bottom: 8px;
    }

    &:nth-child(n + 2){
        opacity: 0.6;
    }
}
