.contact-header {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  @include respSize(margin-bottom, 64);

  @include mediaTablet() {
    margin-bottom: 0;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: $textColorMain;
  }
  @include mediaDesktop() {
    display: flex;
    gap: 30px;
    flex-direction: row;
    font-size: 14px;
    line-height: calc(16 / 14);
  }

  // &__item:not(:last-child) {
  //   // margin-right: 50px;
  // }
  &__link {
    color: inherit;
    @include mediaTablet() {
      display: flex;
      align-items: center;
      @include hover-accent();
      .contact-header__item:first-child > & {
        padding-top: 20px;
      }
      .contact-header__item:last-child > & {
        padding-bottom: 20px;
      }
    }
    @include mediaDesktop() {
      .contact-header__item:first-child > & {
        padding-top: 32px;
        padding-bottom: 32px;
      }
      .contact-header__item:last-child > & {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
  }
  &__icon {
    display: none;
    @include mediaTablet() {
      display: inline-block;
      margin-right: 8px;
      fill: currentColor;
    }
    @include mediaDesktop() {
      margin-right: 10px;
    }
  }
}
.contact-header__item {

  &:first-child {
    @include respSize(margin-bottom, 32);

    font-size: 34px;
    line-height: calc(40 / 34);
    color: $textColorAccent;
    @media screen and (max-width: 375px) {
      font-size: 26px;
    }
    @include mediaTablet() {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: calc(14 / 12);
      color: $textColorMain;
    }
    @include mediaDesktop() {
      font-size: 14px;
      line-height: calc(16 / 14);
      margin-bottom: 0;
    }
  }
  @include mediaDesktop() {
    font-size: 14px;
    line-height: calc(16 / 14);
  }
}
