.contact-header {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  @include respSize(margin-bottom,64);
  @media screen and (min-width: $widthTablet) {
    margin-bottom: 0;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: $textColorMain;
    }


  // display: flex;
  // margin-left: auto;

  // line-height: calc(16 / 14);
  

  // &__item:not(:last-child) {
  //   // margin-right: 50px;
  // } 
  &__item:first-child {
    @include respSize(margin-bottom,32);

    font-size: 34px;
    line-height: calc(40 / 34);
    color: $textColorAccent;
    @media screen and (max-width:375px) {
      font-size: 26px;
    }
    @media screen and (min-width: $widthTablet) {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: calc(14 / 12);
      color: $textColorMain;
      
    }
  }
  &__link {
    color: inherit;
    @media screen and (min-width: $widthTablet) {
      display: flex;
      align-items: center;
      @include hover-accent();
      .contact-header__item:first-child > & {
        padding-top: 20px;
      }
      .contact-header__item:last-child > & {
        padding-bottom: 20px;
      }

            
      
      
      // padding-top: 32px;
      // padding-bottom: 32px;
    }

  }
  &__icon {
    display: none;
    @media screen and (min-width: $widthTablet) {
      display: inline-block;
    // margin-right: 10px;
    margin-right: 8px;
    fill: currentColor;

    }
  
  }
}