.works {
    padding-top: 0;
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__img {
      @extend %imgBlock
    }
    &__label {
      position: absolute;
      bottom: 0;
    
      display: block;
      width: 100%;
      padding-top: 27px;
      padding-bottom: 27px;
    
      font-weight: 700;
      line-height: calc(16 / 14);
      text-align: center;
      text-transform: uppercase;
    
      color: #ffffff;
    
      background: rgba(47, 48, 58, 0.8);
    }
}

.works__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
