.clients {
    &__list {
        @include flex-center();
    }
    &__link {
        @include flex-center();
        
        width: 100%;
        height: 100%;

        color: $colorIcon;
        border-width: 1px;
        border-style: solid;
        border-color: $colorIcon;
        border-radius: 4px;

        @include hover-clietns();
    }
    &__vector {
        fill:currentColor;
    }
}

.clients__item {
    width: 170px;
    height: 92px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}
