.benefits {
    &__list {
        @include mediaTablet() {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        }

        
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
        background-color: $bgColorGrey;
    }
    &__subtitle {
        margin-bottom: 10px;
        line-height: calc(16 / 14);
        text-transform: uppercase;
        color: $textColorBold;
        text-align: center;
        @include mediaTablet() {
            text-align: start;
        }
    }
}

.benefits__item {
    @include mediaTablet() {
        @include fbCounter (15px,2);
    }
    // flex-basis: calc((100% - 90px) / 4);
    &:not(:last-child) {
        // margin-right: 30px;
        margin-bottom: 30px;
        @include mediaTablet() {
            margin-bottom: 0;
        }
    }
}

