.team {
    background-color: $bgColorGrey;
    &__list {
        display: flex;
    }
    &__img {
        @extend %imgBlock;
    }
    &__content {
        background-color: #ffffff;
        padding: 30px;
        text-align: center;
        white-space: nowrap;
        border-radius: 0px 0px 4px 4px;
    }
    &__subtitle {
        margin-bottom: 10px;

        font-size: 16px;
        line-height: calc(19 / 16);
        font-weight: 500;
        color: $textColorBold;
    }
    &__description {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: calc(19 / 16);
    }
    &__links {
        @include flex-center();
    }
    &__link {
        width: 44px;
        height: 44px;
    }
}
.team__item {
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.link-team {
    &:not(:last-child) {
        margin-right: 10px;
    }
    &__item {
        @include flex-center();

        width: 100%;
        height: 100%;
        color:$colorIcon;
        border-radius: 50%;

        @include hover-icon();


        
    }
    &__vector {
        fill: currentColor;
        
    }
}