.hero {
    // max-width: 1600px;
    max-width: $widthMobile;
    padding: 118px 0;
    // padding: 200px 0;
    margin: 0 auto;
    text-align: center;
  
    background-image: $bgGradient,
      url(../images/mobile/hero-bg/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include pixelRatio {
      background-image: $bgGradient,
      url(../images/mobile/hero-bg/hero-bg@2x.jpg);
    }
  
    &__title {
        // max-width: 696px;
        max-width: 360px;
        margin: 0 auto 30px;
        
        // font-size: 44px;
        // line-height: calc(60 / 44);
        font-size: 26px;
        line-height: 1.62;
        font-weight: 900;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__btn {
      padding: 10px 24px;
        // padding: 10px 32px;
    }
  }