.modal-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $basicCubic,
  visibility 250ms $basicCubic;
}
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  padding: 40px 39px 40px 41px;
  text-align: center;

  background-color: #ffffff;
		&__close-btn {
      position: absolute;
      top: 8px;
      right: 8px;

      @include flex-center();

      width: 30px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      @include hover-accent();
		}
		&__close-vector {
      fill: currentColor;
      background-color: transparent;
		}
		&__title {
      margin-bottom: 30px;
      font-size: 20px;
      line-height: calc(23 / 20);
    
      color: $textColorBold;
		}
    &__content {
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.01em;
    }
    &__btn {
      @extend %btn;
      padding: 10px 52px;

    }
}


