.checkbox {
  position: relative;
  padding: 0 12px;
  height: 24px;
  margin-bottom: 30px;
  &__label {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 23px;
    transition: color 250ms $basicCubic 1s;
  }
  &__text {
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
  }
  &__link {
    color: $textColorAccent;
    text-decoration: underline;
  }
}
.checkbox__input--customize {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color:$textColorBold;
  margin-left: -23px;
}
.checkbox__on {
  opacity: 0;
  transition: opacity 250ms $basicCubic;
  .checkbox__input:checked + .checkbox__label  & {
    opacity: 1;
  }
}
.checkbox__off {
  fill:currentColor;
  transition: opacity 250ms $basicCubic,color 250ms $basicCubic;

  
  .checkbox__input:focus + .checkbox__label  &,.checkbox__label:active  & {
    color:$textColorAccent;
  }
  .checkbox__input:checked + .checkbox__label  & {
    opacity: 0
  }
  
  
}
