.gallery {
    @include flex-center();
    flex-wrap: wrap;
    margin: -15px;
    &__card {
        flex-basis: calc((100% - 90px) / 3);
        margin: 15px;
    }
}
.card {
    transition: box-shadow 250ms $basicCubic;
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &__wrap {
      position: relative;
      overflow: hidden;
    }
    &__description {
      font-size: 18px;
      line-height: 1.56;
      color: #ffffff;
    }
    &__link {
      color: inherit;
    }
    &__img {
      @extend %imgBlock;
    }
    &__info {
      padding: 20px 24px;
      border: 1px solid #eeeeee;
      border-top: none;
    }
    &__title {
      margin-bottom: 4px;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $textColorBold;
    }
    &__category {
      font-size: 16px;
      line-height: calc(30 / 16);
    }

}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $basicCubic;
  .card__link:hover &,
  .card__link:focus & {
  transform: translateY(0%);
}
}


